<ion-view title="Acerca de"> <ion-content
	overflow-scroll="true" padding="true"
	style="background-image: url('../img/fondo.png');>
	            		<div class="card">
<div class="item item-text-wrap">
	<p>Esta jugada fue creada sin animo de lucro, producto de buenas
		practicas para aprender a usar IONIC</p>
	<h2>Colaboradores:</h2>
	<ul class="list">
		<li class="item">Luis Miguel Meza</li>
		<li class="item">Rosa Angelica Barrios</li>
		<li class="item">Yohanny Cantillo</li>
	</ul>

</div>
</div>

<div class="button-bar">
	<a class="button icon ion-social-github"
		href="https://github.com/luimi/ColetoEnglishClass"></a> <a
		class="button icon ion-chatbox"
		href="http://coletoenglishclass.foro-colombia.net/"></a> <a
		class="button icon ion-social-android"
		href="https://www.dropbox.com/s/4pb0q6xj6y9nfxh/android-debug.apk?dl=0"></a>
</div>
</ion-content> </ion-view>